.lechugas{
    display: flex;    
    align-items: stretch;
    background-color: blueviolet;
    flex-direction: row;
    flex-wrap: wrap;
    border: 5px solid;
}
.lechugas > div{    
    display: flex;
    margin: 5px;
    background-color: rgb(218, 135, 26);
    border-radius: 2px;
    flex-direction: column;
    align-self: baseline;
    
}
.caja1 {
    flex: 1 ;    
    width: 50%;    
    align-items: center;
    box-sizing: border-box;
    border: 2px; 
    flex-direction: row;
    
}
.caja2{
    flex: 1 ;  
    width: 50%;
    border: 2px;    
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;
    padding-top: 25px;
}
.caja2banana{
    flex: 1 ;  
    width: 50%;
    border: 2px;    
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;
    padding-top: 2px;
}

.caja3{
    flex: 1 ;    
    width: 50%;    
    flex-direction: row;    
    align-items:  center ;
    box-sizing: border-box;
}
.caja3sandia{
    flex: 1 ;    
    width: 50%;    
    flex-direction: row;    
    align-items:  center ;
    box-sizing: border-box;
    padding-top: 40px;
}
.caja4{
    flex: 1 ;
    align-items: center;
    width: 50%;     
    flex-direction: row;
    box-sizing: border-box;
}
.lechuga img{
    box-sizing: border-box;
    object-fit: contain;
    width: 100%;
    height: auto;
    max-height: 400px;
}
.tuberculos{
    display: flex;    
    align-items: stretch;
    background-color: blueviolet;
    flex-direction: row;
    flex-wrap: wrap;
    border: 5px solid;
}
.tuberculos > div{    
    display: flex;
    margin: 2px;
    background-color: rgb(218, 135, 26);
    border-radius: 2px;
    flex-direction: column;
    align-self: baseline;
    
}
.caja5 {
    flex: 1 ;    
    width: 10%;    
    align-items: center;
    box-sizing: border-box;     
    flex-direction: row;
    padding-top: 20px;    
}
.caja6{
    flex: 1 ;  
    width: 50%;
    border: 2px;    
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;
}
.caja6arandano{
    flex: 1 ;  
    width: 50%;
    border: 2px;    
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;
    padding-top: 20px;
}
.caja7{
    flex: 1 ;  
    width: 50%;
    border: 2px;    
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;
    padding-top: 10px;
}
.caja7maracuya{
    flex: 1 ;  
    width: 50%;
    border: 2px;    
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;
    padding-top: 70px;
}
.caja8{
    flex: 1 ;  
    width: 50%;
    border: 2px;    
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;
    padding-top: 10px;
}
.frutasdulces{
    display: flex;    
    border: 5px solid;
    background-color: blueviolet;
    flex-direction: row;
    flex-wrap: wrap;
}
.frutasdulces > div{    
    display: flex;
    margin: 5px;
    background-color: rgb(218, 135, 26);
    border-radius: 2px;
    flex-direction: column;
    align-self: baseline;
}
.frutasacidas{
    display: flex;    
    border: 5px solid;
    background-color: blueviolet;
    flex-direction: row;
    flex-wrap: wrap;
}
.frutasacidas > div{    
    display: flex;
    margin: 5px;
    background-color: rgb(218, 135, 26);
    border-radius: 2px;
    flex-direction: column;
    align-self: baseline;
}
.condimentoscomun{
    display: flex;    
    align-items: stretch;
    background-color: blueviolet;
    flex-direction: row;
    flex-wrap: wrap;
    border: 5px solid;
}
.condimentoscomun > div{    
    display: flex;
    margin: 5px;
    background-color: rgb(218, 135, 26);
    border-radius: 2px;
    flex-direction: column;
    align-self: baseline;
    
}
.condimentosespecial{
    display: flex;    
    align-items: stretch;
    background-color: blueviolet;
    flex-direction: row;
    flex-wrap: wrap;
    border: 5px solid;
}
.condimentosespecial > div{    
    display: flex;
    margin: 5px;
    background-color: rgb(218, 135, 26);
    border-radius: 2px;
    flex-direction: column;
    align-self: baseline;
    
}